.BlogDetail__header {
  margin-top: 26px;
}
.BlogDetail__header .BlogDetail_header--info {
  padding: 0 25%;
}
.BlogDetail__header .BlogDetail_header--info .header__info--timePost {
  color: #757575;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-family: Poppins, Noto Sans, sans-serif;
  font-weight: 400;
  margin: 0;
}
.BlogDetail__header .BlogDetail_header--info .header__info--linkLocation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.BlogDetail__header .BlogDetail_header--info .header__info--linkLocation a {
  text-decoration: none;
  color: #00773e;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-family: 'Poppins', sans-serif;
  margin: 12px 0;
  text-decoration: none;
  text-transform: uppercase;
}
.BlogDetail__header
  .BlogDetail_header--info
  .header__info--linkLocation
  .linkLocation__icon {
  margin: -5px 4px 0;
  color: #d9d9d9;
  font-size: 14px;
  font-weight: 600 !important;
}
.BlogDetail__header .BlogDetail_header--info .header__info--title {
  margin-top: 1.5rem;
}
.BlogDetail__header .BlogDetail_header--info .header__info--title h1 {
  color: #292929;
  margin-bottom: 24px;
  margin-top: 0;
  font-weight: 750;
  font-size: 40px;
  letter-spacing: 0.16px;
  line-height: 54px;
}
.BlogDetail__header .BlogDetail_header--info .header__info--desc {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 24px;
  color: #757575;
  font-family: Merriweather, Verdana;
  font-weight: 400;
}
.BlogDetail__header .BlogDetail_header--info .header__info--authorAndButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .header__info--authorAndButton .authorAndButton__left {
}
.header__info--authorAndButton .authorAndButton__left .authorAndButton__avt {
} */
.header__info--authorAndButton
  .authorAndButton__left
  .authorAndButton__roleAndName {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333em;
}
.authorAndButton__left .authorAndButton__roleAndName .userName {
  text-decoration: none;
  transition-duration: 0.3s;
  --tw-text-opacity: 1;
  color: rgb(0 119 62 / var(--tw-text-opacity));
  font-weight: 600;
  font-size: 14px;
  text-transform: none;
}
.header__info--authorAndButton .authorAndButton__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__info--authorAndButton
  .authorAndButton__right
  .authorAndButton__right--item {
}
.header__info--authorAndButton
  .authorAndButton__right
  .authorAndButton__right--item
  button {
  background: none;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 15px;
  text-align: center;
  white-space: nowrap;
  font-family: PoppinsVN, Noto Sans, sans-serif;
  color: #8a8a8a;
  font-size: 24px;
  font-weight: 600;
}
.authorAndButton__right--item button span {
  font-family: PoppinsVN, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333em;
  color: #8a8a8a;
  margin-left: 4px;
  text-decoration: underline;
}
.authorAndButton__right .authorAndButton__right--item:first-child span {
  text-decoration: none;
}

.BlogDetail_header--poster {
  margin-top: 45px;
  padding: 0 17.6%;
  box-sizing: border-box;
}
.BlogDetail_header--poster img {
  width: 100%;
}
.BlogDetail_header--poster p {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #757575;
  margin: 8px auto 32px;
}

/*body*/
.BlogDetail__body {
  width: 100%;
}
.BlogDetail_body--topic {
  margin: 0 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  --tw-border-opacity: 1;
  border: 1px solid rgb(191 191 191 / var(--tw-border-opacity));
  border-radius: 0.375rem;
}
.BlogDetail_body--topic .topic__titleAndDesc h3 span {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4em;
  margin-left: 4px;
}
.BlogDetail_body--topic .topic__titleAndDesc p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75em;
  color: #555555;
}
.BlogDetail_body--topic .topic__followButton button {
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
  background-color: transparent;
  border: 1px solid rgb(122 122 122 / var(--tw-border-opacity));
  color: rgb(41 41 41 / var(--tw-text-opacity));
  height: 32px;
  padding: 0.375rem 0.75rem;
  border-radius: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition-duration: 0.3s;
  vertical-align: middle;
  font-family: PoppinsVN, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333em;
  text-transform: uppercase;
}

.BlogDetail__body--content {
  padding: 0 30%;
  margin-top: 32px;
}
.BlogDetail__body--content h2 {
  max-width: 568px;
  color: #292929;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  font-family: Poppins, Kailasa, Noto Sans, sans-serif;
}
.BlogDetail__body--content h3 {
  margin: 32px 0 16px;
  max-width: 568px;
  color: #292929;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  font-family: PoppinsVN, Kailasa, Noto Sans, sans-serif;
}
.BlogDetail__body--content p {
  color: #292929;
  font-family: Merriweather;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  width: 100%;
  margin-bottom: 20px;
}
.BlogDetail__body--content a {
  text-decoration: none;
}
.BlogDetail__body--content .part4 h2 {
  margin-bottom: 32px;
}
.BlogDetail__body--content .part4 strong {
  margin-bottom: 32px;
  font-family: Merriweather;
  font-size: 18px;
  font-weight: 600;
  display: block;
}
.BlogDetail__body--content .part4 p {
  font-family: Merriweather;
  font-style: italic;
  margin-bottom: 32px;
}

.BlogDetail__body--linkAndTag {
  padding: 0 30%;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}
.BlogDetail__body--linkAndTag .links a{
    padding-bottom: .5rem;
    padding-top: .5rem;
    cursor: pointer;
    font-family: Poppins,sans-serif;
    display: block
}
.BlogDetail__body--linkAndTag .links a span{
    color: #1b67fe;
    font-size: 20px;
    font-weight: 600;
}
.BlogDetail__body--linkAndTag .tags{
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}
.BlogDetail__body--linkAndTag .tags .tags__item{
    padding: .5rem;
    background-color: #f2f3f5;
    border-radius: .5rem;
    cursor: pointer;
    margin-right: .75rem;
    margin-bottom: .75rem;
    font-size: 14px;
    line-height: 1.7142857142857142em;
    font-family: PoppinsVN,sans-serif;
    font-weight: 400;
}
.BlogDetail__body--linkAndTag .tags .tags__item a{
    --tw-text-opacity: 1;
    color: rgb(41 41 41/var(--tw-text-opacity));  
    cursor: pointer;
    font-size: 14px;
    line-height: 1.7142857142857142em;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    text-decoration: none;
}
.BlogDetail__body--formSignUp{
    padding: 0 10%;
}
.BlogDetail__footer{
    margin-top: 65px;
}
.BlogDetail__footer--hotBlog{
    padding: 0 25%;
}
.BlogDetail__footer--hotBlog .hotBlog__header h2{
    font-family: Poppins,sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2em;
}
.BlogDetail__footer--hotBlog .hotBlog__body .VerticalPodcast__img{
    width: 30%;
}
.BlogDetail__footer--hotBlog .hotBlog__body .VerticalPodcast__body{
    margin-left: -16px;
}
.BlogDetail__footer--hotBlog .hotBlog__body .VerticalPodcast__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.BlogDetail__footer--hotBlog .hotBlog__body .VerticalPodcast__title h3{
    padding-left: 0;
}

.BlogDetail__footer--specialBlog{
    margin-top: 52px;
    background-color: #292929;
    padding: 56px 12% 24px;
    position: relative;
}
.BlogDetail__footer--specialBlog .specialBlog__header h2{
    font-family: Poppins,sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2em;
    color: #fff;
}
.BlogDetail__footer--specialBlog .specialBlog__body{
    margin-top: 24px;
    width: 100%;
}
.BlogDetail__footer--specialBlog .specialBlog__body .MainPodcast__content h3 a{
  font-size: 16px;
}
.BlogDetail__footer--specialBlog .specialBlog__body .MainPodcast__content .topic-dateTime{
  margin-bottom: -8px;
}
.BlogDetail__footer--specialBlog .specialBlog__body .MainPodcast__button{
  width: 40px;
  height: 40px;
  font-size: 24px;
  margin-top: 0;
}
.BlogDetail__footer--specialBlog .specialBlog__body .MainPodcast__containner{
  margin-bottom: 32px;
}
.BlogDetail__footer--specialBlog .specialBlog__body--row:first-child{
    margin-bottom: 32px;
}
.BlogDetail__footer--specialBlog .specialBlog__button Button span{
    color: #fff;
    border: 2px;
}
.BlogDetail__footer--specialBlog .homepage__section7--button {
        right: 12%;
        top:110px
}
.BlogDetail__footer--newBlog{
    margin-top: 80px;
    margin-bottom: 64px;
    padding: 0 176.5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}
.BlogDetail__footer--newBlog .newBlog__left{
  width: 60%;
}
.BlogDetail__footer--newBlog .newBlog__left--title h2{
    font-family: Poppins,sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2em;
}
.BlogDetail__footer--newBlog .newBlog__left--content{
  margin-top: 24px;
}
.BlogDetail__footer--newBlog .newBlog__left--button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.BlogDetail__footer--newBlog .newBlog__left--button button{
  background: none;
  --tw-text-opacity: 1;
  color: rgb(41 41 41/var(--tw-text-opacity));
  height: 32px;
  padding: .375rem .75rem;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 32px;
  border: 1px solid #757575;
  text-transform: uppercase;
  transition-duration: .3s;
  vertical-align: middle;
  font-family: PoppinsVN,sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333em;
  text-transform: uppercase;
}